<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/admin.css">
    <title>Админ-панель</title>
</head>
<body>
        <h1>Панель админа</h1>
        <section class="moders">
        <a href="/admin/services" class="btn">Управление услугами</a>
        <a href="/admin-gener-pdf" class="btn">Скачать PDF с заявками</a>
        <a href="/logout" class="btn btn-dangers">Выйти</a>
        </section>

        <h1>Добавить нового сотрудника</h1>
        <form class="add-member-form" action="/add-team-member" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Имя:</label>
                <input type="text" id="name" name="name" required>
            </div>
            
            <div class="form-group">
                <label for="position">Должность:</label>
                <input type="text" id="position" name="position" required>
            </div>
            
            <div class="form-group">
                <label for="image">Фото:</label>
                <input type="file" id="image" name="image" accept="image/*" required>
            </div>
            
            <button type="submit" class="btn">Добавить сотрудника</button>
        </form>

        <h1>Список сотрудников</h1>
        <div class="team-grid">
            {{#each about.team}}
            <div class="team-card">
                <img src="{{this.image}}" alt="{{this.name}}" class="team-card-img">
                <div class="team-card-body">
                    <h3>{{this.name}}</h3>
                    <p>{{this.position}}</p>
                    <form action="/delete-team-member/{{this._id}}" method="POST">
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </div>
            </div>
            {{/each}}
        </div>
</body>
</html>